<!DOCTYPE html>
<html lang="en">

<header>
  <div class="container">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">GetItDone</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/"><i class="icon-home icon-white"></i> Home</a></li>
              <li><a href= "/teammates">Teammates</a></li>
              <li><a href="/tasks">Tasks</a></li>
              <li><a href="/documents">Documents</a></li>
            </ul>

          </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->
  </div>
</header>
padding-top: 60px;
<div class="row offset1">
  margin-top: 200px;
  margin-left: 60px;
  <h1>Welcome!</h1>
</div>
</html>

